.header-container {
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 88px);
  padding-left: 10%;
  padding-right: 10%;
  align-items: center;
  background-color: #ffffffb8;
  -webkit-transition: top 4s ease; /* Safari prior 6.1 */
  transition: top 4s ease;

  .top-header {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.hidden-top-header-container {
  position: fixed;
  top: -88px;
  left: 0;
  right: 0;

  .top-header {
    display: grid;
  }
}