.menu-list {
  flex: 1;
  display: flex;
  justify-content: right;
  place-self: flex-end;
  white-space: nowrap;

  ul {
    list-style: none;
    padding-left: 0px;
    display: flex;

    a {
      text-decoration: none;

      .call-to-action {
        white-space: nowrap;
      }
    }
  }
}