.social-container {
  display: flex;
  height: 40px;
  max-width: 149px;

  div {
    flex: 1;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
}