.footer-logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  padding: 36px 7%;
  flex-direction: column;

  .title {
    font-size: 2em;
    font-weight: bold;
  }

  .logos-group {
    display: flex;
    height: 100%;
    width: 100%;

    .logos-container {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .image {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        width: 80%;
      }

      .individual-logo {
        height: 60%;
      }
    }

    .grid-logos-container {
      display: flex;
      flex-direction: column;

      .logos-grid-wrapper {
        grid-column: 1/4;
        display: flex;
        justify-content: center;

        .logos-grid {
          height: 100px;
          width: 100px;
          margin: 20px;
        }
      }
    }
  }
}