.footer-links-container {
  background-color: #4c4c4c;
  color: white;
  padding: 50px 7%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  .links-group {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    font-size: 1.5em;

    a {
      text-decoration: none;
      color: white;
      line-height: 1.7em;
    }

    a:hover {
      font-weight: bold;
    }
  }

}