li, .call-to-action {
  padding: 20px 34px;
  border: solid 0.5px #ffffff;
  color: black;
}

li:hover, .call-to-action:hover {
  color: white;
  background-color: #2078b4;
}

.call-to-action {
  text-align: center;
}