body {
  font-family: candara;
}


li, .call-to-action {
  padding: 20px 34px;
  color: black;
  font-weight: bold;
}

li:hover, .call-to-action:hover {
  color: white;
  background-color: #2078b4;
}

.call-to-action {
  text-align: center;
  border: solid 1px white;
  cursor: pointer;
}